* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
}

main {
    box-sizing: border-box;
    width: 1120px;
    margin: 88px auto;
}

.img-one, .img-two, .img-three, .img-four {
    border-radius: 28px;
}

h1, h2, h3 {
    font-weight: bold;
    color: #1B1B1B;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    color: #E1624F;
    text-transform: uppercase;
}

.subtitle {
    font-size: 16px;
    font-style: italic;
    color: #333333;
    text-align: center;
}

p {
    font-size: 16px;
    font-style: normal;
    color: #333333;
}

